<div id='answer-container'>
    <p>
    	<input type="text" name="value" value="{{answer.value}}">
	</p>
	<p>
	    <button type="button"  class="btn submit-answer btn-lg btn-success">Submit Answer!</button>
    </p>
</div>