<div id='map-container' style='height: 50%;'>
    <div id='map-canvas'>
    </div>
</div>
<div id='question-container'>
    <hr>
    <p class="lead">{{question.location_human|title}}</p>
    <p>{{question.location_coord}}</p>
    <h1>{{question.summary|capitalize}}</h1>
</div>